@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --background: #121212;
  --background-secondary: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --action: #bb86fc;
  --success: #03dac6;
  --error: #cf6679;
}

body {
  color: var(--text-primary);
  background: var(--background);
}
